.b {
    background: #080D29;
    font-family: Georgia;
    font-size: 22;
}

.c {
    background: #38A3A5;
    font-family: Georgia;
    font-size: 22;
}

.estilo1 {
    background-color: #B4D2E7;
}

.estilo2 {
    color: white;
    margin: 0px;
}

.estilo3 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #080D29;
    padding: 20px 20;
}

.estilo3 a {
    text-decoration: none;
    color: white;
}

.estilo2 img {
    width: 100%;
    height: 600px;
    position: initial;
}

.estilo2 p {
    top: 25%;
    left: 22%;
    font-size: 90;
    position: absolute;
}

.nombres {
    color: white;
}

.nombres p {
    display: inline;
    padding: 20px 100;
    font-size: 14pt;
}

.cabecera {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #080D29;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 40px 1px;
    height: 60px;
}

.cabecera a {
    text-decoration: none;
}

#texto {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 10px;
}

h2 {
    text-align: left;
    color: black;
}

.margenmarcadores {
    background-color: #B4D2E7;
    width: 150px;
    height: 70px;
    margin: 10px 20px;
    padding: 5% 43%;
}

.margenmarcadores li a {
    display: inline-flex;
    text-decoration: none;
    color:black;
    display: inline-block;
}

.margenmarcadores ul {
    list-style: none;
    
    
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.imagen img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.estilodiv2 {
    background-color: #F8F8F8;
    padding: 10px 20px;
}

.estilodiv3 {
    background-color: #B4D2E7;
    padding: 10px 20px;
}

.imagencuerpo a img {
    width: 200px;
    height: 100px;
    margin-left: 40%;
}

.imagencuerpo2 a img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 40%;
}

h1 {
    font-family: Georgia;
    color: #080D29;
}

header {
    background-color: #335C81;
    padding: 30px;
}

section {
    padding: 10px;
}

footer {
    background-color: #335C81;
    padding: 10px;
    text-align: center;
}

.navi {
    background-color: #A1A6B4;
    padding: 10px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #6c89a3;
}

.tabs__etiqueta {
    padding: 20px 123px;
    background-color: #3E78B2;
    cursor: pointer;
}

.tabs__radio {
    display: none;
}

.tabs__contenido {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #fefefe;
    line-height: 2.0;
    font-size: 0.9em;
    display: none;
}

.tabs__contenido a {
    text-decoration: none;
    color: black;
}

.tabs__radio:checked+.tabs__etiqueta {
    font-weight: bold;
    color: #f2c36a;
    border-bottom: 4px solid #8a7247;
}

.tabs__radio:checked+.tabs__etiqueta+.tabs__contenido {
    display: initial;
}